body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  height: 100%;
  top: 10%;
  left: 10%;
}

.signatureContainer {
  margin: 0 auto;
  background-color: #f5f0f0;
}

.signaturePad {
  width: 100%;
  height: 100%;
}

.Board {
  height: 500px;
}

.logo {
  width: 100px;
}